<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="about.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  />
    <link rel="stylesheet" href="web.css" />
    <link rel="stylesheet" href="codingcontest.css" />
    <title>Codding Contest</title>
  </head>
  <body>
    <section class="header">
      <nav>
        <a href=""><img src="./eduford_img/2021-09-05 (2).png" alt="" /></a>
        <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
        <div class="navlink">
          <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="">Courses</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="body">
        <div class="typewriter">
          <h1>Codding Contests</h1>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, veniam
          corporis praesentium ullam quis perspiciatis odio voluptas o
        </p>
        <div class="cell"></div>

        <div class="content">
          <div class="text"></div>
        </div>
        <!-- <a href="" class="btn">visit</a>   -->
      </div>
    </section>

    <!-- card -->
    <section class="info"></section>
    <section class="cards-wrapper">
      <div class="card-grid-space">
        <div class="num">01</div>
        <a
          class="card"
          href="https://www.codechef.com/contests/?itm_medium=navmenu&itm_campaign=allcontests"
          style="
            --bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg);
          "
        >
          <div>
            <h1>Code Chef</h1>
            <p>
              Know all about Code-chef contests like long-challenge, lunchtime,
              cookoff....
            </p>
            <div class="tags">
              <div class="tag">Code Chef</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <div class="num">02</div>
        <a
          class="card"
          href="https://codeforces.com/contests"
          style="--bg-img: url('./eduford_img/bb.jfif')"
        >
          <div>
            <h1>Code forces</h1>
            <p>know all about code forces contests just click here...</p>
            <div class="tags">
              <div class="tag">Code forces</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <div class="num">03</div>
        <a
          class="card"
          href="https://leetcode.com/problemset/all/"
          style="--bg-img: url('./eduford_img/WW.webp')"
        >
          <div>
            <h1>Leet Code</h1>
            <p>World leading coding Platform for tech. interview practice...</p>
            <div class="tags">
              <div class="tag">Leet Code</div>
            </div>
          </div>
        </a>
      </div>
      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>

     <!-- footer -->
 <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="https://cputek.in/web-development/?gclid=Cj0KCQjw1dGJBhD4ARIsANb6OdnTg3lLeYSvRMG0h4_zsosBitpJX3ScX_hfObFOT9AP5u1OHkSu38IaAhqcEALw_wcB">Web design</a></li>
              <li><a href="https://cputek.in/web-development/?gclid=Cj0KCQjw1dGJBhD4ARIsANb6OdnTg3lLeYSvRMG0h4_zsosBitpJX3ScX_hfObFOT9AP5u1OHkSu38IaAhqcEALw_wcB">Development</a></li>
              <li><a href="https://id.heroku.com/login">Hosting</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Website</a></li>
              <li><a href="#">AboutUs</a></li>
              <li><a href="#">ContactUs</a></li>
            </ul>  
          </div>
          <div class="col-md-6 item text">
            <h3>About Website</h3>
            <p>
               this website is about Codding related stuff, information and facts also it contain Upcomming contest link in codeforces and Codechef.
            </p>
          </div>
          <div class="col item social">
            <a href="https://www.facebook.com/tejas.tank.94064"><i class="fa fa-facebook"></i></a
            ><a href="https://www.instagram.com/tejas__tank_235/"><i class="fa fa-instagram"></i></i></a
            ><a href="https://twitter.com/TejasTa65040578"><i class="fa fa-twitter"></i></a
            ><a href="https://www.linkedin.com/in/tejas-tank-12264820"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  
          </div>  
        </div>
        <p class="copyright"> </p>
      </div>
    </footer>
    <script src="web.js"></script>
  </body>
</html>
