<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>About Page</title>
  </head>
  <body>
    <section class="header">
      <nav>
        <a href=""><img src="./eduford_img/2021-09-05 (2).png" alt="" /></a>
        <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
        <div class="navlink">
          <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
          <ul>
            <li><a href="web.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Codding Contests</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="body">
        <div class="typewriter">
          <h1>About Us</h1>
        </div>

        <div class="cell"></div>

        <div class="content">
          <div class="text"></div>
        </div>
      </div>
    </section>
    <!-- form-->

  
  </body>
</html>
