<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />  
    <link rel="icon" type="image/png" href="./eduford_img/logo.png"/>   
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,700&display=swap"
    rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
      />
    <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./web.css">
    <title>Codding Website</title>
      
  </head> 

  <body>   
    <section class="header"> 
      <nav>
        <a href=""><img src="http://localhost:3000/eduford_img/2021-09-05 (2).png" alt=""></a>

        <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
        <div class="navlink"> 
          <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
          <ul>  
            <li><a href="">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="coddingconstest.html">Codding Contest</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>       
      </nav>   
      <div class="body">
        <div class="typewriter">
        <h1>Know all about Coding</h1>
      </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, veniam
          corporis praesentium ullam quis perspiciatis odio voluptas o
        </p>
        <div class="cell"></div>

        <div class="content">
          <div class="text"></div>
        </div>
        <!-- <a href="" class="btn">visit</a>   -->
      </div>
    </section>

    <!-- languages -->
    <section class="lang">
      <h1>Popular languages</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias
        iusto amet delectus qui est non odit cupiditate, saepe
      </p>
    </section>
    <div class="row1">
      <div class="course">
        <div class="tem">C Language</div> 
        <p>
          C is an imperative procedural language. It was designed to be compiled to provide low-level access to memory and language constructs that map efficiently to machine instructions, all with...
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/C_(programming_language)"
            > <h3>Show More</h3></a
          >
        </button>
      </div>
      <div class="course">
         <div class="tem">C++ Language</div> 
        <p>
          C++ was designed with an orientation toward system programming and embedded, resource-constrained software and large systems, with performance, efficiency, and ...
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B"> <h3> <h3>Show More</h3></h3></a>
        </button> 
      </div>
      <div class="course">
         <div class="tem">Python</div> 
        <p>
          Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its Language..
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/Python_(programming_language)"
            > <h3>Show More</h3></a
          >
        </button>
      </div>
      <div class="course">
        <div class="tem">JAVASCRIPT </div>
        <p>
          JavaScript often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.[10] JavaScript is high-level, often just-in-time compiled...
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/JavaScript"> <h3>Show More</h3></a>
        </button>
      </div>
    </div>

    <section class="lang">
      <h1>Explore Codding Platform</h1>  
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor libero
        adipisci dolore corrupti laborum, eum quibusdam nisi expedita
        repudiandae assumenda ex facere ea aliquid. Provident voluptates
        laboriosam accusantium odio aut.
      </p>
    </section>
    <div class="platimg">
      <a href="https://codeforces.com/"
        ><img src="./eduford_img/codeforces1.jpg" alt=""
      /></a>
      <a href="https://www.codechef.com/"
        ><img src="./eduford_img/codechef.png" alt=""
      /></a>
      <a href="https://www.geeksforgeeks.org/" class="gfg"
        ><img src="./eduford_img/gfg.png" alt=""
      /></a>
      <a href="https://leetcode.com/"
        ><img src="./eduford_img/leetcode.png" alt=""
      /></a>
    </div>

    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="https://cputek.in/web-development/?gclid=Cj0KCQjw1dGJBhD4ARIsANb6OdnTg3lLeYSvRMG0h4_zsosBitpJX3ScX_hfObFOT9AP5u1OHkSu38IaAhqcEALw_wcB">Web design</a></li>
                <li><a href="https://cputek.in/web-development/?gclid=Cj0KCQjw1dGJBhD4ARIsANb6OdnTg3lLeYSvRMG0h4_zsosBitpJX3ScX_hfObFOT9AP5u1OHkSu38IaAhqcEALw_wcB">Development</a></li>
                <li><a href="https://id.heroku.com/login">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Website</a></li>
                <li><a href="#">AboutUs</a></li>
                <li><a href="#">ContactUs</a></li>
              </ul>  
            </div>
            <div class="col-md-6 item text">
              <h3>About Website</h3>
              <p>
                 this website is about Codding related stuff, information and facts also it contain Upcomming contest link in codeforces and Codechef.
              </p>
            </div>
            <div class="col item social">
              <a href="https://www.facebook.com/tejas.tank.94064"><i class="fa fa-facebook"></i></a
              ><a href="https://www.instagram.com/tejas__tank_235/"><i class="fa fa-instagram"></i></i></a
              ><a href="https://twitter.com/TejasTa65040578"><i class="fa fa-twitter"></i></a
              ><a href="https://www.linkedin.com/in/tejas-tank-12264820"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  
            </div>  
          </div>
          <p class="copyright"> </p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
  <script src="web.js"></script>
</html>
